<h1>Add a New recipe to your cookbook</h1>
<a href="/">Back</a>
<div class="recipe_form">
  <form action="/recipes" method="post">
    <div class="card_left">
      <label for="name">Name</label>
      <input type="text" name="name">
      <label for="name">Description</label>
      <input type="text" name="description">
    </div>
    <div class="card_right">
      <label for="name">Preparation Time</label>
      <input type="text" name="prep_time">
      <label for="name">Rating</label>
      <input type="text" name="rating">
    </div>
    <input class="btn-submit" type="submit" value="Add to cookbook">
  </form>
</div>